body {
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif !important;
}

#pro {
  font-size: 30px;
  margin-top: 50px;
  color: lightslategray;
}
h2 {
  font-size: 44px;
  font-weight: 300;
  color: #1ba090;
}
.text1 {
  color: #212121;
  font-size: 16px;
  margin-bottom: -3px;
  width: 450px;
  margin-top: 30px;
  font-weight: 400;
  vertical-align: baseline;
  line-height: 1.8em;
  vertical-align: middle;
  padding-bottom: 1px;
}

.btn {
  background-color: #1ba090;
  border: #1ba090;
  border: solid 0px;
  font-weight: 400;
  font-size: 22px;
  margin-top: 10px;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: orange;
}
.custom {
  padding-left: 60px;
}
