<app-header></app-header>
<app-toggel></app-toggel>
<div class="custom">
 <p id="pro">CSE <strong>PRO</strong>SaR:</p>

  <h2>Sicherheitsventile auslegen:</h2>
  <h2>Einfach. Schnell. Online.</h2>

  <p class="text1">
    CSE <strong>PRO</strong>SaR ist eine neue, einzigartige Software zur
    herstellerunabhängigen Auslegung Ihrer Sicherheitsarmaturen. Berechnen Sie
    Sicherheitsventile in Minutenschnelle oder überprüfen Sie vorhandene
    Auslegungen. Alles, was Sie dafür benötigen, ist Ihre Registrierung und eine
    Internetverbindung.
  </p>
  <p class="text1">
    Starten Sie jetzt mit der Standard Edition von CSE <strong>PRO</strong>SaR
  </p>

  <div class="col-xs-12">
    <button class="btn btn-primary" type="submit" (click)="onSubmit()">
      Zur Anwendung
    </button>
  </div>
</div>
