.navbar-default {
    margin-top: -12px;
    padding-right: 30px;
    padding-left: 60px;
    border: none;
    background-color: white;
  }
  .nav-list > li {
    padding: 10px 15px 15px;
    display: block;
  }
  
  .sub-menu {
    color: rgba(0, 0, 0, 0.6);
    font-size: 22px;
  
    display: block;
  }
  
  .list {
    display: inline-flexbox;
    color: #1ba090;
    font-size: 22px;
    font-weight: 700;
    width: 300px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    position: relative;
  }
  .mega-dropdown {
    position: relative;
  }
  .mega-dropdown-menu {
    padding: 0;
    text-align: center;
    width: 1100px;
    border-top: 4px solid #1ba090;
    padding-top: 15px;
    margin-top: 5px;
  }
  
  .ht-ul {
    text-align: left;
  }
  