<app-header-en></app-header-en>
<app-toogel-en></app-toogel-en>
<div class="custom">
 <p id="pro">CSE <strong>PRO</strong>SaR:</p>

  <h2>Sizing of Safety devices:</h2>
  <h2>Fast. Simple. Online.</h2>

  <p class="text1">
    CSE <strong>PRO</strong>SaR unique software for manufacturer-independent sizing of your safety valves. 
    Calculate safety valves in minutes or check existing calculations.All you need is your registration and an internet connection.
  </p>
  <p class="text1">
    Start now with CSE <strong>PRO</strong>SaR Standard Edition.
  </p>

  <div class="col-xs-12">
    <button class="btn btn-primary" type="submit" (click)="onSubmit()">
      To the app
    </button>
  </div>
</div>
