<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown mega-dropdown" appDropDown>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
          >Dropdown <span class="caret"></span
        ></a>
        <div class="dropdown-menu mega-dropdown-menu">
          <div class="col-md-3 ht-ul">
            <h4><a class="list" href="#">Über CSE ProSaR</a></h4>
            <ul class="nav-list list-inline">
              <li>
                <a class="sub-menu" href="#">Die neue Generation des Sizing</a>
              </li>
              <li>
                <a class="sub-menu" href="#">CSE PROSaR Standard Edition</a>
              </li>
              <li>
                <a class="sub-menu" href="#">CSE PROSaR Advanced Edition</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 ht-ul">
            <h4><a class="list" href="#">CSE PROSaR Standard</a></h4>
            <ul class="nav-list list-inline">
              <li><a class="sub-menu" href="#">Einführung</a></li>
              <li><a class="sub-menu" href="#">Kurzanleitung</a></li>
              <li>
                <a class="sub-menu" href="#">Diese Daten benötigen Sie</a>
              </li>
              <li><a class="sub-menu" href="#">Funktionsumfang</a></li>
              <li><a class="sub-menu" href="#">Lizenz anfrag</a></li>
            </ul>
          </div>

          <div class="col-md-3 ht-ul">
            <h4><a class="list" href="#">Anwendung</a></h4>
            <ul class="nav-list list-inline">
              <li>
                <a class="sub-menu" href="#">Sicherheitsventil auslegen</a>
              </li>
              <li>
                <a class="sub-menu" href="#">Sicherheitsventil überprüfen</a>
              </li>
              <li><a class="sub-menu" href="#">Berstcheibe auslegen</a></li>
            </ul>
          </div>

          <div class="col-md-3 ht-ul">
            <h4><a class="list" href="#">Services</a></h4>
            <ul class="nav-list list-inline">
              <li><a class="sub-menu" href="#">Fachberatung</a></li>
              <li><a class="sub-menu" href="#">Training & Coaching</a></li>
              <li><a class="sub-menu" href="#">Kontakt</a></li>
              <li><a class="sub-menu" href="#">Newsletter</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
